@import 'common/fonts';

.hello {
    color: red;
    font-family: Staatliches, sans-serif;
}

.image {
    background: url('../img/icon.svg'); /*This requires a file-loader to work with webpack*/
}

.blue-text {
    color: blue;
}

