
/************************ STATUS AND CALL TO ACTION COLORS ************************/
$color-cancel-red: #cb4a4a;
$color-cancel-hover: #e64c4c;


/************************ TRANSPARENT COLORS ************************/
$color-black-transparent-15: rgba(1,1,1,.15);
$color-black-transparent-25: rgba(1,1,1,.25);
$color-black-transparent-50: rgba(1,1,1,.5);
$color-black-transparent-75: rgba(1,1,1,.75);